#layout {
  .sider {
    .logoWithText {
      height: 32px;
      margin: 16px;
      .logo {
        height: 32;
        width: 32;
      }
      .text {
        color: gray;
        margin-left: 8px;
      }
    }
  }
}
